:root {
    /* Light Mode Colors */
    --background-color-primary: #f7f7f799;
    --background-color-secondary: #000;
    --text-color-primary: #000;
    --text-color-secondary: #fff;
    --input-color-primary: #ccc;
    --input-border-color: #afafaf;
    --button-bg: #158600;
    --button-hover-bg: #1cb901;
    --remove-icon-color: #dc3545;
    --remove-icon-hover-color: #a52a2a;
    --notification-success-bg: #28a745;
    --notification-error-bg: #dc3545;
    --disclaimer-text-color: #afafaf;
    --modal-background-color: #ececece1;
}

.dark-mode {
    --background-color-primary: #000;
    --background-color-secondary: #696969;
    --text-color-primary: #dadada;
    --text-color-secondary: #000;
    --input-color-primary: #696969;
    --input-border-color: #444;
    --button-bg: #1cb901;
    --button-hover-bg: #158600;
    --remove-icon-color: #a52a2a;
    --remove-icon-hover-color: #dc3545;
    --notification-success-bg: #158600;
    --notification-error-bg: #a52a2a;
    --disclaimer-text-color: #777;
    --modal-background-color: #333;
}
