:root {
    --input-color-primary: #ccc;
    --input-border-color: #afafaf;
    --button-bg: #158600;
    --button-hover-bg: #1cb901;
    --remove-icon-color: #dc3545;
    --remove-icon-hover-color: #a52a2a;
    --notification-success-bg: #28a745;
    --notification-error-bg: #dc3545;
    --disclaimer-text-color: #afafaf;
}