.input-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap; 

  .download-mode-selector,
  .add-url-button {
    padding: 9px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #f0f0f0;
    }
    &:active {
      background-color: #ccc;
    }
  }

  input {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--input-color-primary);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px; 

    &:hover {
       background-color: #f0f0f0;
    }
    &:active {
       background-color: #ccc;
    }
  }

  select {
    cursor: pointer;
    padding: 10px;
    border: 1px solid var(--input-color-primary);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px; 

    &:hover {
      background-color: #f0f0f0;
    }
    &:active {
      background-color: #ccc;
    }
  }

  button {
    padding: 12px 20px;
    margin-bottom: 10px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: var(--button-hover-bg);
    }

    &[disabled] {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  .url-list-container {
    display: flex;
    flex-direction: column; /* Display URL list vertically */
    width: 100%; /* Ensure full width */
  }
  
  .url-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;

    .url-item {
      background-color: #f0f0f0;
      border: 1px solid var(--input-color-primary);
      border-radius: 5px;
      padding: 10px 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        color: var(--button-bg);

        &:hover {
            color: var(--button-hover-bg);
        }
      }

      .remove-icon {
        margin-left: 5px;
        cursor: pointer;
        font-size: 18px;
        color: var(--remove-icon-color); 

        &:hover {
          color: var(--remove-icon-hover-color);
        }
      }
    }
  }
}